name: Build and Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      ## build
      ### nothing to do
      ## deploy
      - uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: 'ap-northeast-1'
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      - name: Deploy to AWS S3
        run: |
          aws s3 sync . s3://ndxbn.tokyo/ --delete
